.icon-locker,.icon-tv,.icon-rocket{
    height: 32px;
    width: 40px;
    padding: 20px 16px;
    background: rgba($primary-color,.1);
}
.icon-amazon,.icon-esty,.icon-clickbank,.icon-m-logo,.icon-youtube,.icon-kickstarter{
    fill:#929DC5;
    height: 41px;
}
