//colors
$bg-dark: #313a5a;
$bg-light: #f8f9fc;
$primary-color: #1fdb84;
$text-color: #5b6c94;
$heading-color: #32325c;
$dark-heading: #031d5b;

//breakpoints
$desktop: 1200px;
$laptop: 900px;
$tab: 650px;
$phone: 360px; 